@inherits LayoutComponentBase

<section class="animationWrapper">
  <div class="particle particle-1"></div>
  <div class="particle particle-2"></div>
  <div class="particle particle-3"></div>
  <div class="particle particle-4"></div>
</section>

<section class="is-flex is-flex-direction-column is-align-content-center is-align-items-center is-fullheight-100vh">
    <h1 class="title main-title has-text-centered">So you wanna be a<br>Vault Hunter?!</h1>
    @Body
    <footer class="column is-full footer-gray">
        <div class="content has-text-centered">
            <p>
            <strong>So you want to be a Vault Hunter</strong> by <a href="https://github.com/amvi88">Alberto Malavassi V.</a> The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.<br> All contents and game design belong to <a href="https://nerdvanagames.com/">Nerdvana</a> and <a href="https://www.2k.com">2K</a>.
            </p>
        </div>
    </footer>
</section>

