@page "/"
@using Site.Pages;

<section class="column is-four-fifths  overlay-white">
    <div class="columns features">
        <p class="is-align-self-center has-margin-1em is-size-4 has-text-justified">At this point, you've chosen to become a Vault Hunter to loot, shoot <span class="tina-text">, and smooch</span> the six galaxies.
        you have chosen an archetype, class and maybe even a race. In BnB you can be whatever you can imagine! An accountant turned CEO? Checked. A Saurian on a mission of peace? Hell yeah! 
        A preteen girl with an explosion loving complex and a really cool hat? <span class="is-strike-through">Full steam ahead</span><span class="tina-text">  DON'T YOU DARE UNLESS YOU WANT TO KNOW WHAT A GRENADE TASTES LIKE!!!</span>.
        Be uniquely you!

        <br> The six galaxies are full of dangers, and you might encounter a bunch of unfriendly faces, so here's a small guide that may help you survive if only just a bit longer
        </p> 
    </div>
    <div class="container">
        <div class="tile is-ancestor">  
            <div class="tile is-vertical">         
                    <FlipCard FrontTitle="Some Title" FrontBody="Bacon Ipsum"></FlipCard>
                    <FlipCard></FlipCard>
                    <FlipCard></FlipCard>
            </div> 
            <div class="tile is-vertical">         
                    <FlipCard></FlipCard>
                    <FlipCard></FlipCard>
                    <FlipCard></FlipCard></div>
                    <div class="tile is-vertical">         
                    <FlipCard></FlipCard>
                    <FlipCard></FlipCard>        
                    </div>
        </div>
    </div>

    <div class="columns">
            
    </div>
</section>