@page "/"

<section class="section is-large overlay-white">
        <div class="columns features">

        </div>

        <div class="columns features">
            
        </div>

        <div class="columns features">
            
        </div>
</section>