.overlay-white {
        background-color: rgba(255, 255, 255, 0.95);
}

.has-margin-1em {
        margin: 1em;
}

.is-strike-through {
        text-decoration: line-through;
}

.is-image-inline > img {
        display: inline-block;
}